/* --- Imports --- */

	@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic);
    @import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);


/* --- Reset --- */

	/** * Eric Meyer's Reset CSS v2.0 */
	
	html, body
	{
		height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
	{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font-family: 'Source Sans Pro', sans-serif;
		vertical-align: baseline
	}
	
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section 
	{
		display: block;
	}
	
	body 
	{
		line-height: 1;
        background-color: #f1f1f1;
	}
	
	ol, ul 
	{
		list-style: none;
	}
	
/* --- Basic Layout --- */
	
	.homeheader .navbar
	{
		position: fixed;
		z-index: 10000;
        height: 3em;
		top: 0;
		width: 86.8%;
		padding: 10px 6.6%;
		overflow: hidden;
        background-color: transparent;
		color: #f1f1f1 !important;  
	}
    .navbar
	{
		position: fixed;
		z-index: 10000;
        height: 3em;
		top: 0;
		width: 86.8%;
		padding: 10px 6.6%;
		overflow: hidden;
        background-color: #252525;
		color: #f1f1f1 !important;  
	}

    .logo{
        height: 100%;
    }

    .nav{
        display: inline-block;
        float: right;
        position: relative;
        font-size: 1em;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%); /* IE 9 */
        -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    }
    
    .nav li{
        float: left;
        padding: 0.5em 1em;
    }

    .nav li a{
        text-decoration: none;
        color: #f1f1f1;
    }

    .menuicon{
        display: none;
    }
	
	.notification
	{
		position: fixed;
		padding: 15px 45px 15px 15px;
		margin: 0 auto 0 auto;
		top: 80px;
		left: 0;
		right: 0;
		z-index: 9990;
		background-color: #f1f1f1;
		background-image: url('../images/static/menubuttonopen.png');
		background-repeat: no-repeat;
		background-size: 16px;
		background-position: calc(100% - 15px) 15px;
		width: calc(100% - 85px);
		max-width: 960px;
		-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.22);
		-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.22);
		box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.22);
		cursor: pointer;
	}
	
	.container
	{
        position: relative;
		overflow-x: hidden;
		width: 100%;
		margin: 4em 0 0;
		min-height: calc(100% - 86px);
    }
	
	.inner
	{
		position: relative;
		max-width: 1080px;
        width: 60%;
		margin: 0 auto;
	}
	
	.banner
	{
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-position: 50%;
	}
	
	.fullbanner
	{
		position: relative;
		overflow: hidden;
		height: 66vmin;
		background-size: cover;
		background-position: 50%;
	}

    .homeimage{
        height: 100vh;  
        background-position: 50% 0;
    }
	
	.bannertitlebox
	{
		position: relative;
		width: 100%;
        height: 100%;
		bottom: 0px;
		background-color: rgba(0, 0, 0, 0.3);
		color: #f1f1f1;
	}

    .homedescription{
        position: absolute;
        bottom: 0;
        width: 43.4%;
        padding: 3em 50% 3em 6.6%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .vertical{
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%); /* IE 9 */
        -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    }
	
    .homelink{
        color: #f1f1f1;
        text-decoration: none;
    }
    
	.bannertitle
	{
		display: block;
		padding-bottom: 0;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 3em;
		line-height: 0.7em;
		font-weight: 100;
/*        text-shadow: 2px 2px #000;*/
	}
	
	.bannertext
	{
		display: block;
		padding-top: 0.75em;
		font-size: 1.2em;
		line-height: 1.4em;
		font-weight: 100;
        text-shadow: 2px 2px #000;
	}
	
	.bannerlink
	{
		float: right;
		font-family: 'Source Sans Pro', sans-serif;
	}
	
	.blockslider
	{
    	text-align: center;
	}

	.blockslider ul
	{
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		height: 295px;
		list-style: none;
	}

	.blockslider ul li
	{
		position: relative;
		display: block;
		float: left;
		margin: 15px;
		width: 220px;
		background: #1aa4c1;
		cursor: pointer;
    }
	
	.blockslider ul li figure
	{
		background-size: cover;
		background-position: 50%;
		width: 100%;
		padding-bottom: 100%;
	}
	
	.blockslider ul li p
	{
		padding: 0.5em;
	}
	
	.selectedslide
	{
		background: #1aa4c1 !important;
		margin: 5px 15px !important;
		padding: 15px !important;
	}

	.selectedslide p
	{
		padding: 10px 0 0!important;
	}
	
	.sliderdata
	{
		display: none;
	}

	.slider ul
	{
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.slider ul li
	{
		position: relative;
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		width: 100vw;
		width: calc(100vw - 13px);
		height: 66vmin;
		background: #ccc;
		background-size: cover;
		background-position: 50%;
	}

	a.control_prev, a.control_next
	{
		position: absolute;
		top: 40%;
		top: calc(50% - 50px);
		z-index: 999;
		display: block;
		width: 55px;
		height: 100px;
		text-decoration: none;
		cursor: pointer;
        opacity: 0.3;
        transition: 0.2s;
	}

	a.control_next:hover
	{
    background-image: url(../images/static/arrowr.png);
        opacity: 1;
        transition: 0.2s;
	}

	a.control_prev:hover
	{
    background-image: url(../images/static/arrowl.png);
        opacity: 1;
        transition: 0.2s;
	}

	a.control_prev
	{
    background-image: url(../images/static/arrowlw.png);
    background-repeat: no-repeat;
    left: 5%;
	}

	a.control_next
	{
		right: 5%;
		background-image: url(../images/static/arrowrw.png);
	}
	
	.block
	{
		padding: 10em 0;
        width: 70%;
        margin: 0 auto;
		background-color: #F1F1F1;
	}
	
	.block:nth-child(odd)
	{
		background-color: #252525;
		color: #f1f1f1;
	}
	
    .teamblock, .portfolioblock, .contactblock
    {
        padding: 40px 0;
        width: 100%;
        margin: 0 auto;
        background-color: #f1f1f1;
    }
    
    .teamblock:nth-child(odd), .portfolioblock:nth-child(odd), .contactblock:nth-child(odd)
    {
        background-color: #252525;
		color: #f1f1f1;
    }

	.map
	{
		height: 300px;
	}
	
	.contenttitle
	{
		font-size: 2.8em;
		line-height: 1em;
		padding-top: 0;
		font-weight: 600;
		font-family: 'Source Sans Pro', sans-serif;
	}
	
	.contenttext
	{
		font-size: 1.2em;
		font-weight: 400;
		line-height: 1.45em;
		padding-top: 0.75em;
	}
	
	footer .contenttext
	{
		font-size: 1.15em;
		font-weight: 400;
		line-height: 1.7em;
		padding-top: 0.7em;
	}
	
	.colorlink 
	{
		text-decoration: none;
		color: #1aa4c1;
		cursor: pointer;
	}
	
	.colorlink:hover [class^="icon-"], .colorlink:hover [class*=" icon-"]
	{
		text-decoration: none;
	}
	
	.colorlink:hover
	{
		color: #62D4EC;
	}
	
	.profilephoto
	{
		float: left;
		width: 40%;
		height: 0;
        padding-bottom: 40%;
		margin-right: 15px;
		background-size: cover;
		background-position: 50%;
	}
	
	.profileprojects
	{
		clear: both;
		display: block;
	}

	.profiledata
	{

	}
	
	.profileproject
	{
		float: left;
		width: 117px;
		height: 100px;
		margin: 15px 15px 0 0;
		background: rgb(221, 221, 221);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
	}
	
	.contactrow
	{
		text-align: center;
		display: inline-block;
		padding: 0 25px;
		line-height: 4em;
	}
	
	.footercolumn
	{
		float: left;
		height: 180px;
		width: 33%;
	}
	
	.footercolumn:nth-child(even)
	{
		margin: 0 0.5% 0 3.5%;
	}
	
	.footerlogo
	{
		position: absolute;
		right: 0;
		z-index: 0;
		width: 200px;
		height: 256px;
		margin-top: -40px;
		background-image: url('../images/static/footerlogo.png');
		background-repeat: no-repeat;
		background-position: 100%;
		background-size: auto 256px;
	}
	
	footer 
	{
		background-color: #252525 !important;
		color: #f1f1f1 !important; 
	}

	#mailform
	{
		display: none;
		max-width: 640px;
		margin: 0 auto 40px auto;
		text-align:center;
		clear: both;
	}

	label
	{
		line-height:2em;
		margin-top: 1em;
		font-size: 1em;
		color:#1aa4c1;
	}

    .slide article{
        position: absolute;
        bottom: 5%;
        left: 3%;
        color: #252525;
        background-color: #f1f1f1;
        padding: 1em 0em;
        width: 50%;
    }

    .slide h2{
        padding: 0em 0.2em;
        font-size: 300%;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 3px solid #1aa4c1;
        padding-bottom: 0.25em;
    }

    .slide p{
        font-family: 'Merriweather', serif;
        font-size: 110%;
        line-height: 1.3;
        padding: 0.8em 0.6em;
        margin-top: 1.2em;
    }
	
/* --- Custom Animations --- */

	@keyframes animatedBackground 
	{
		0% { background-position: 0 0; }
		100% { background-position: 50px 0; }
	}
	@-moz-keyframes animatedBackground 
	{
		0% { background-position: 0 0; }
		100% { background-position: 50px 0; }
	}
	@-webkit-keyframes animatedBackground 
	{
		0% { background-position: 0 0; }
		100% { background-position: 50px 0; }
	}
	@-ms-keyframes animatedBackground 
	{
		0% { background-position: 0 0; }
		100% { background-position: 50px 0; }
	}
	@-o-keyframes animatedBackground 
	{
		0% { background-position: 0 0; }
		100% { background-position: 50px 0; }
	}
	@-webkit-keyframes loading
	{
		from { -webkit-transform: perspective(300) rotateY(0); }
		to   { -webkit-transform: perspective(300) rotateY(360deg); }
	}
	@-moz-keyframes loading
	{
		from { -moz-transform: perspective(300px) rotateY(0); }
		to   { -moz-transform: perspective(300px) rotateY(360deg); }
	}
	
	
/* --- Page Specific CSS --- */
	
	.progressbarbg 
	{
		margin: 20px 0;
		height: 50px;
		background-color: #bdbdbd;
	}
	
	.progressbarfg 
	{
		width: 70%;
		text-indent: 20px;
		line-height: 50px;
		color: #f1f1f1;
		background-size: 50px;
		background-image: url('/images/static/lines.png');
		animation: animatedBackground 4s linear infinite;
		-moz-animation: animatedBackground 4s linear infinite;
		-webkit-animation: animatedBackground 4s linear infinite;
		-ms-animation: animatedBackground 4s linear infinite;
		-o-animation: animatedBackground 4s linear infinite;
	}
	
	
/* --- Responsive/Adaptive Layout Elements & Overrides --- */
	
	@media (max-width: 1080px) 
	{
        .slide h2{
            font-size: 200%;
        }

        .slide p{
            font-size: 100%;
        }
	}
	
	@media (max-width: 960px) 
	{
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
		{
			font-size: 99%;
		}
		
		.blockslider ul
		{
			height: 275px;
		}
		
		.blockslider ul li
		{
			width: 220px;
		}
	}
	
	@media (max-width: 720px) 
	{
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
		{
			font-size: 98%;
		}

		.slider a.control_prev, .slider a.control_next
		{
			top: 40%;
			top: calc(35% - 50px);
		}
		
		.blockslider ul
		{
			height: 245px;
		}
		
		.blockslider ul li
		{
			width: 200px;
		}

		.blockslider ul li p
		{
			padding: 0.4em;
		}
	}
	
	@media (max-width: 640px) 
	{
		.profilephoto
		{
			width: 100%;
			height: 0;
			padding-bottom: 100%;
		}

		.profileproject
		{
			width: calc(25% - 15px);
			height: auto;
			padding-bottom: 20%;
		}

		.profiledata
		{
			float: left;
			display: block;
			margin-top: 15px;
		}
	
		footer
		{
			height: auto;
		}
		
		.footercolumn
		{
			height: auto;
			width: 100%;
		}
		
		.footercolumn:nth-child(even)
		{
			margin: 25px 0 0;
		}

		.footerlogo
		{
			display: none;
		}
        .slide article{
            width: 90%;
            margin-left: 2%;
        }
        .slide h2{
        }
        .slide p{
        }
	}
	
	@media (max-width: 480px) 
	{	
		.bannertext
		{
			display: none;
		}
	
		.navbar
		{
			height: 50px;
            overflow: visible !important;
		}
        
        .nav{
            position: absolute;
            top: 0;
            left: 0;
            padding: 5em 3em 3em;
            width: calc(100% - 6em);
            height: 100vh;
            z-index: 9999;
            transform: none;
            background-color: rgba(0,0,0,0.8);
            display: none;
            transform: none;
            -ms-transform: none; /* IE 9 */
            -webkit-transform: none; /* Chrome, Safari, Opera */
        }
        
        .nav li{
            padding: 0;
            float: none;
            margin-bottom: 1em;
            font-size: 2em;
            border: 1px solid #f1f1f1;
        }
        
        .nav li a{
            display: block;
            padding: 1em;
            background-color: #252525;
        }
        
        .nav li a:active{
            background-color: #f1f1f1;   
            color: #252525;
        }
        
        .menuicon{
            display: inline-block;
            float: right;
            z-index: 9999;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%); /* IE 9 */
            -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
        }
        
/* ------------------ MENUICON ----------------------*/
        
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 39px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 16px;
  left: 0px;
  right: 0px;
  height: 6px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #f1f1f1;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -15px;
}

.cmn-toggle-switch span::after {
  bottom: -15px;
}
        
.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
/*  background-color: #cb0032;*/
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
        
/* ------------------ MENUICON END ----------------------*/

/*
		.navbutton
		{
			height: 70px;
			width: 70px;
			background-size: 35px;
		}
*/

		.navlogo
		{
			height: 50px;
			width: 105px;
			left: 2%;
			background-size: auto 50px;
			-webkit-transition: opacity 0.5s ease-in-out;
			-moz-transition: opacity 0.5s ease-in-out;
			transition: opacity 0.5s ease-in-out;
		}
		
		.container
		{
			margin: 70px 0 0;
			min-height: calc(100% - 70px);
		}
	}
	
	@media (max-width: 420px) 
	{	
		.navopen .navlogo
		{
			opacity: 0;
		}

		.profileproject
		{
			width: calc(33% - 15px);
			height: auto;
			padding-bottom: 25%;
		}
	}